<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Tester</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Mit0mFS5</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="swow_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="edu.models.users.User" />
        <mapping class="edu.models.users.UAnswer" />
        <mapping class="edu.models.tester.Quiz" />
        <mapping class="edu.models.tester.Question" />
        <mapping class="edu.models.tester.Option" />
        <mapping class="edu.models.tester.Blank" />

    </session-factory>
</hibernate-configuration>